/* ヘッダー */
.header--mobile {
  display: flex;
  background-color: white;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
  position: sticky;
  top: 0;
}

.header__inner--mobile {
  width: 100%;
  padding: 10px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
}

/* 共通項目 */
.header__buttons button {
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 15px;
}

/* 新規会員 */
.header__button--register {
  margin-right: 5px;
}

.header__button--register > button {
  background-color: #ea352e;
  color: white;
  border: 1px solid transparent;
}

.header__button--login > button {
  background-color: white;
  color: #3295ee;
  border: 1px solid #3295ee;
}

/* ログイン */

.header__input-text {
  padding: 8px 0;
}

.header__input-text > input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 12px 0 12px 17px;
  background-color: #f5f5f5;
  font-size: 15px;
}

.header__bottom---mobile {
  display: flex;
}

.header__search {
  display: flex;
  width: 50%;
  justify-content: center;
}

.header__search > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-icon {
  margin-right: 10px;
}

.header__search-text {
  font-size: 14px;
  font-weight: 700;
  margin: 3px 0;
  white-space: nowrap;
}

/* タグのアイコン */
.header__search-icon > svg {
  position: relative;
  top: 1px;
}

@media (min-width: 767px) {
  .header--mobile {
    display: none;
  }
}
