/* ヘッダー */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.header__container {
  width: 100%;
  padding: 10px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__register {
  display: flex;
}

/* 共通項目 */
.header__register > button {
  border-radius: 5px;
  padding: 0 10px;
  font-weight: 600;
  font-size: 15px;
}

/* 新規会員 */
.header__register > button:nth-child(1) {
  margin-right: 5px;
  border: none;
  background-color: #ea352e;
  color: white;
}

/* ログイン */
.header__register > button:nth-child(2) {
  background-color: white;
  color: #3295ee;
  border: 1px solid #3295ee;
}

.header__input {
  padding: 8px 0;
}

.header__input > input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 12px 0 12px 17px;
  background-color: #f5f5f5;
  font-size: 15px;
}

.header__bottom {
  display: flex;
}

.header__search {
  display: flex;
  width: 50%;
  justify-content: center;
}

.header__search > div {
  display: flex;
  align-items: center;
}

.header__search--icon {
  margin-right: 10px;
}

.header__search--text {
  font-size: 14px;
  font-weight: 700;
  margin: 3px 0;
}

/* タグのアイコン */
.header__search--icon > svg {
  position: relative;
  top: 1px;
}

@media (min-width: 767px) {
  .header__container {
    max-width: 700px;
    padding: 0px;
  }
}

@media (min-width: 1067px) {
  .header__container {
    max-width: 1020px;
  }
}
