/* アイテム一覧セクション */
section.item__layout {
  padding-bottom: 50px;
  background-color: #efefef;
}

/* セクションのヘッダー */
.section__header {
  padding: 30px 0 15px 0;
  background-color: #ffffff;
}

.section__header--title {
  display: flex;
  justify-content: center;
}

.section__header--title > p {
  font-size: 23px;
  font-weight: bold;
}

.section__scrollable {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 10px;
}

.section__categories {
  padding: 0;
}

.section__category {
  display: inline-block;
  padding: 7px 15px;
  background-color: #efefef;
  border-radius: 20px;
}

.section__category:not(:nth-child(1)) {
  margin-left: 10px;
}

.section__category > p {
  font-size: 14px;
  font-weight: bold;
}

/* セクションのアイテム一覧 */

.section__body {
  /* background-color: #efefef; */
  padding: 10px;
}

.section__body__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.section__body__header--title {
  font-size: 20px;
  font-weight: 600;
}

.section__body__header--more {
  display: flex;
  align-items: center;
}

.section__body__header--more > div.more__text {
  margin-right: 5px;
}

.section__body__header--more > div.more__text p {
  color: #3295ee;
  font-size: 15px;
  font-weight: 500;
}

.section__body__header--more > div.more__arrow svg {
  width: 10px;
  height: 10px;
}

/* アイテム一覧 */
.section__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 5px;
}

.section__item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.section__item > img.image {
  width: 100%;
  height: auto;
}

.section__item > div.text {
  padding: 5px;
}

.section__item > div.text p {
  font-size: 14px;
}
