/* アイテム一覧セクション */
section.item__layout {
  padding-bottom: 50px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* セクションのヘッダー */
.section__header {
  width: 100%;
  padding: 33px 0 4px 0;
  background-color: #ffffff;
}

.section__header--title {
  display: flex;
  justify-content: center;
}

.section__header--title > p {
  font-size: 20px;
  font-weight: bold;
}

.section__scrollable {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 10px;
}

.section__categories {
  padding: 0;
}

.section__category {
  display: inline-block;
  padding: 5px 15px;
  background-color: #efefef;
  border-radius: 20px;
}

.section__category:not(:nth-child(1)) {
  margin-left: 10px;
}

.section__category:last-child {
  margin-right: 10px;
}

.section__category > p {
  font-size: 14px;
  font-weight: bold;
}

/* セクションのアイテム一覧 */

.section__body {
  /* background-color: #efefef; */
  padding: 10px;
  width: 100%;
}

.section__body__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.section__body__header--title {
  font-size: 20px;
  font-weight: 600;
}

.section__body__header--more {
  display: flex;
  align-items: center;
}

.section__body__header--more > div.more__text {
  margin-right: 5px;
}

.section__body__header--more > div.more__text p {
  color: #3295ee;
  font-size: 15px;
  font-weight: 500;
}

.section__body__header--more > div.more__arrow svg {
  width: 10px;
  height: 10px;
}

/* アイテム一覧 */
.section__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 5px;
}

.section__item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.section__item > img.image {
  width: 100%;
  height: auto;
}

.section__item > div.text {
  padding: 5px;
}

.section__item > div.text p {
  font-size: 14px;
}

/* 表示の有無 */
.tablet {
  display: none;
}

@media (min-width: 767px) {
  .section__header {
    padding: 50px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__header > div:nth-child(2) {
    width: 100%;
    text-align: center;
  }
  .section__header--title p {
    font-size: 28px;
  }
  .section__body {
    max-width: 700px;
  }

  .section__body__header {
    padding-top: 35px;
  }

  .section__body__header--title {
    font-size: 22px;
  }

  .section__categories {
    width: 100%;
  }

  .section__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 20px;
  }

  .tablet {
    display: block;
  }
}

@media (min-width: 1068px) {
  .section__body {
    max-width: 1000px;
  }
}
