/* ヘッダー */
header {
  display: flex;
  background-color: white;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
  position: sticky;
  top: 0;
}

.header__container {
  width: 100%;
  padding: 10px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__register {
  display: flex;
}

/* 共通項目 */
.header__register > button {
  border-radius: 5px;
  padding: 0 10px;
  font-weight: 600;
  font-size: 15px;
}

/* 新規会員 */
.header__register > button:nth-child(1) {
  margin-right: 5px;
  border: none;
  background-color: #ea352e;
  color: white;
}

/* ログイン */
.header__register > button:nth-child(2) {
  background-color: white;
  color: #3295ee;
  border: 1px solid #3295ee;
}

.header__input {
  padding: 8px 0;
}

.header__input > input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 12px 0 12px 17px;
  background-color: #f5f5f5;
  font-size: 15px;
}

.header__bottom {
  display: flex;
}

.header__search {
  display: flex;
  width: 50%;
  justify-content: center;
}

.header__search > div {
  display: flex;
  align-items: center;
}

.header__search--icon {
  margin-right: 10px;
}

.header__search--text {
  font-size: 14px;
  font-weight: 700;
  margin: 3px 0;
}

/* タグのアイコン */
.header__search--icon > svg {
  position: relative;
  top: 1px;
}

@media (min-width: 767px) {
  .header__container {
    max-width: 700px;
    padding: 0px;
  }
}

@media (min-width: 1067px) {
  .header__container {
    max-width: 1020px;
  }
}

/* アイテム一覧セクション */
section.item__layout {
  padding-bottom: 50px;
  background-color: #efefef;
}

/* セクションのヘッダー */
.section__header {
  padding: 30px 0 15px 0;
  background-color: #ffffff;
}

.section__header--title {
  display: flex;
  justify-content: center;
}

.section__header--title > p {
  font-size: 23px;
  font-weight: bold;
}

.section__scrollable {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 10px;
}

.section__categories {
  padding: 0;
}

.section__category {
  display: inline-block;
  padding: 7px 15px;
  background-color: #efefef;
  border-radius: 20px;
}

.section__category:not(:nth-child(1)) {
  margin-left: 10px;
}

.section__category > p {
  font-size: 14px;
  font-weight: bold;
}

/* セクションのアイテム一覧 */

.section__body {
  /* background-color: #efefef; */
  padding: 10px;
}

.section__body__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.section__body__header--title {
  font-size: 20px;
  font-weight: 600;
}

.section__body__header--more {
  display: flex;
  align-items: center;
}

.section__body__header--more > div.more__text {
  margin-right: 5px;
}

.section__body__header--more > div.more__text p {
  color: #3295ee;
  font-size: 15px;
  font-weight: 500;
}

.section__body__header--more > div.more__arrow svg {
  width: 10px;
  height: 10px;
}

/* アイテム一覧 */
.section__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 5px;
}

.section__item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.section__item > img.image {
  width: 100%;
  height: auto;
}

.section__item > div.text {
  padding: 5px;
}

.section__item > div.text p {
  font-size: 14px;
}

/* フッター */

footer {
  padding: 15px;
  background-color: #222222;
}

footer > div {
  width: 100%;

  display: flex;
}

.footer__section {
  width: 50%;
  margin-bottom: 20px;
}

.footer__title.empty {
  height: 20px;
  background-color: transparent;
}

.footer__title > p {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.footer__items {
  padding: 0;
}

.footer__item {
  color: #c4c4c4;
  font-size: 14px;
  list-style: none;
  margin: 12px 0;
}

.footer__social-medias {
  margin-top: 32px;
  display: flex;
}

.footer__social-media > svg > path {
  fill: white;
}

.twitter {
  margin-right: 8px;
}

.twitter > svg {
  width: 32px;
}

.facebook > svg {
  width: 26px;
}

.footer__countries {
  display: flex;
  padding: 0;
}

.footer__countries > li:nth-child(1) {
  margin-right: 30px;
}

/* アプリダウンロード */
section.app__advertisement {
  display: flex;
  justify-content: center;
  background-image: url('../assets/img/mercari_app_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0;
}

.app__advertisement--icon {
  margin-right: 20px;
}

.app__advertisement--icon > img {
  width: 50px;
}

.app__advertisement--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__advertisement--text p {
  color: white;
}

.app__advertisement--text > div:nth-child(1) p {
  font-weight: 600;
}

.app__advertisement--text > div:nth-child(2) p {
  font-weight: 700;
  font-size: 22px;
}

/* フッターロゴ */
.footer__logo {
  align-items: center;
}

.footer__logo--svg {
  margin-right: 10px;
}

.footer__logo--svg > svg {
  width: 130px;
}

.footer__logo--text > p {
  color: white;
  font-size: 13px;
}

/* 出品ボタン */
.float__button {
  background-color: #ea352e;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: fixed;
  bottom: -10px;
  right: -15px;
  z-index: 50;
}

.float__button--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.float__button--text {
  margin-bottom: 2px;
}

.float__button--text p {
  color: white;
}

.float__button--icon svg {
  width: 25px;
  height: 25px;
}

.float__button--icon path {
  fill: white;
}
